$medium: 768px;

*{
    margin: 0px;
    padding: 0px;
}

#navBar {  
    position: absolute; 
    left: 0; 
    right: 0; 
    min-width: 428px;
    img{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    nav {
        padding: 0px;
        margin: 0px;
        #burger {
            position: absolute;
            right: 41px;
            top: 53px;
            display: inline-block;

            span {
                display: block;
                width: 42px;
                height: 5px;
                margin-bottom: 5px;
                background: #FCDD3F;
                border-radius: 5px;
                z-index: 1;
                transform-origin: 4px 0px;
                transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    opacity 0.55s ease;
            }

        }

        #navItems {
            .navItem {
                font: normal normal 600 30px/40px Segoe UI;
                letter-spacing: 0px;
                color: #FCDD3F;
                opacity: 1;
                cursor: pointer;
            }

            .nav-item:hover {
                color: #87AABC;
            }
        }

    }
    
    @media screen and (max-width: 1020px) {
        #navItems{
            visibility: hidden;
            margin: 0px;
            padding: 0px;
            text-align: center;
            list-style: none;
            padding-top: 100px;
            .nav-item{text-align: center;}
        }
        #navItems.active{
            visibility: visible;
        }
    }


    @media screen and (min-width: $medium) {
        #navBar{
            width: 768px;
        }

        .logoNav{
            position: absolute;
            visibility: visible;
            top: 31.5px;
            left: 41px;
            width: 51px;
            height: 54px;
            filter: invert(64%) sepia(26%) saturate(344%) hue-rotate(156deg) brightness(100%) contrast(84%);
        }
        #burger{
            top: 31.5px;
            left: 683px;
            width: 35px;
            height: 27px;

        }
      }
    @media screen and (min-width: 1020px){
        #burger{
            visibility: hidden;
        }
        .logoNav{
            width: 129px;
            height: 138px;
        }
        .line{
            span{
                position: absolute;
                top: 130px;
                right: 0px;
                width: 808px;
                height: 5px;
                background-color: #FCDD3F;
                border-radius: 180px;
                border: 5px solid #FCDD3F;

            }
        }
        #navItems {
            visibility: visible;
            padding-top: 0px;
            display: flex;
            justify-content: flex-end;
            gap: 66px;
            padding-right: 114px;
            
            
            

            .navItem{
                list-style: none;
                padding-top: 60px;
                padding-bottom: 38px;
                
            }
        }
    }
}

.deletethis {
    width: 100vw;
    height: 100vh;
    background-color: blue;
}