* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semibold"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
  font-weight: 700;
}

#navBar {
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
}

#navBar img {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

#navBar nav {
  padding: 0px;
  margin: 0px;
}

#navBar nav #burger {
  position: absolute;
  right: 41px;
  top: 53px;
  display: inline-block;
}

#navBar nav #burger span {
  display: block;
  width: 42px;
  height: 5px;
  margin-bottom: 5px;
  background: #FCDD3F;
  border-radius: 5px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#navBar nav #navItems .navItem {
  font: normal normal 600 30px/40px Segoe UI;
  letter-spacing: 0px;
  color: #FCDD3F;
  opacity: 1;
  cursor: pointer;
}

#navBar nav #navItems .nav-item:hover {
  color: #87AABC;
}

@media screen and (max-width: 1020px) {
  #navBar #navItems {
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    text-align: center;
    list-style: none;
    padding-top: 100px;
  }
  #navBar #navItems .nav-item {
    text-align: center;
  }
  #navBar #navItems.active {
    visibility: visible;
  }
}

@media screen and (min-width: 768px) {
  #navBar .logoNav {
    position: absolute;
    visibility: visible;
    top: 34px;
    left: 40.95px;
    width: 51px;
    height: 54px;
    -webkit-filter: invert(64%) sepia(26%) saturate(344%) hue-rotate(156deg) brightness(100%) contrast(84%);
            filter: invert(64%) sepia(26%) saturate(344%) hue-rotate(156deg) brightness(100%) contrast(84%);
  }
  #navBar #burger {
    right: 50px;
    top: 34px;
  }
}

@media screen and (min-width: 1020px) {
  #navBar #burger {
    visibility: hidden;
  }
  #navBar .logoNav {
    width: 129px;
    height: 138px;
  }
  #navBar #navItems {
    visibility: visible;
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 66px;
    padding-right: 114px;
    border-bottom: 5px yellow solid;
    margin-left: 1112px;
  }
  #navBar #navItems .navItem {
    list-style: none;
    padding-top: 60px;
    padding-bottom: 38px;
  }
}

.deletethis {
  width: 100vw;
  height: 100vh;
  background-color: blue;
}

footer {
  height: 353px;
  width: 428px;
  background: #87AABC 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 47px 53px 81px 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footerNav {
  list-style: none;
  margin-bottom: 35px;
}

.footerNav li {
  text-align: center;
  font: normal normal 600 25px/33px Segoe UI Semibold;
  letter-spacing: 0px;
  color: #002B50;
  opacity: 1;
  margin-bottom: 17px;
}

.footerNav li:last-child {
  margin-bottom: 0;
}

.socialMediaIcon {
  width: 57px;
  margin-right: 23px;
}

.socialMediaIcon:last-child {
  margin-right: 0;
}

.footerLogoWrapper {
  display: none;
}

.footerLogoSoMe {
  display: none;
}

@media screen and (min-width: 768px) {
  footer {
    width: 768px;
    height: 223px;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    padding-top: 36px;
  }
  .footerLogoSoMe {
    display: inline;
    width: 63px;
    margin-bottom: 17px;
  }
  .socialMediaIcon {
    width: 36px;
    margin-right: 14px;
  }
  .socialMediaIcon :last-child {
    margin-right: 0;
  }
  .logoSoMeWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 28px;
  }
  .footerNav {
    margin-top: 36px;
    margin-bottom: 0;
  }
  .footerNav li {
    text-align: left;
    font-size: 20px;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1920px) {
  footer {
    width: 1920px;
    height: 294px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 124px;
    padding-bottom: 88px;
    padding-top: 88px;
  }
  .socialMediaIcon {
    width: 70px;
    margin-right: 27px;
  }
  .footerNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footerNav li {
    text-align: center;
    font-size: 28px;
    margin-right: 67px;
  }
  .footerNav :last-child {
    margin-right: 0;
  }
  .footerLogoSoMe {
    display: none;
  }
  .footerLogoWrapper {
    display: inline;
  }
  .footerLogo {
    width: 117px;
    margin-left: 6px;
  }
}
/*# sourceMappingURL=style.css.map */