* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper-sections {

  //Mobile view
  width: 428px;
  display: flex;
  flex-direction: column;
  align-items: center;

  //Tablet view
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  //Desktop view
  @media screen and (min-width: 1920px) {
    width: 1932px;
    flex-direction: row-reverse;
    background: #F19E60;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      width: 100%;
      flex-direction: row;
      align-items: flex-start;

      @media screen and (min-width: 1920px) {
        flex-direction: column;
      }

      .tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  #newsletter {
    background: #F19E60 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 605px;

    @media screen and (min-width: 768px) {
      height: 286px;
      display: flex;
    }

    @media screen and (min-width: 1920px) {
      height: 719px;
    }

    .tablet {
      display: flex;
      flex-direction: column;
      align-items: center;

      #join,
      #news {
        text-align: left;
        font-style: italic;
        font-family: 'Blue ocean';
        color: #002B50;
        opacity: 1;
      }

      p {
        display: none;
      }
    }

    #join {
      font-size: 45px;
      line-height: 78px;
      margin-top: 57px;

      @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: 49px;
        margin: 41px 49px 0 112px;
      }

      @media screen and (min-width: 1920px) {
        font-size: 61px;
        line-height: 107px;
        margin: 41px 264px 0 264px;
      }
    }

    #news {
      margin-top: -1rem;
      font-size: 33px;
      line-height: 58px;

      @media screen and (min-width: 768px) {
        font-size: 22px;
        line-height: 39px;
        margin: 0 49px 12px 112px;
        margin-top: -0.5rem;
      }

      @media screen and (min-width: 1920px) {
        font-size: 46px;
        line-height: 80px;
        margin: -1rem 264px 0 264px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 4px;
        opacity: 1;
        width: 268px;
        height: 44px;
        margin: 29px 44px 15px 44px;

        @media screen and (min-width: 768px) {
          width: 193px;
          height: 30px;
          margin: 12px 51px 12px 111px;
        }

        @media screen and (min-width: 1920px) {
          width: 380px;
          height: 63px;
          margin: 20px 275px 21px 275px;
        }
      }

      button {
        background: #002B50 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 10px #00000029;
        border: none;
        border-radius: 43px;
        width: 268px;
        height: 53px;
        font: normal normal 600 19px/26px Segoe UI;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;

        @media screen and (min-width: 768px) {
          width: 192px;
          height: 38px;
          font-size: 16px;
          line-height: 21px;
          margin: 12px 51px 74px 111px;
        }

        @media screen and (min-width: 1920px) {
          width: 380px;
          height: 75px;
          font-size: 28px;
          line-height: 37px;
          margin: 10px 275px 21px 275px;
        }
      }
    }

    p {
      text-align: center;
      font: normal normal normal 20px/27px Segoe UI;
      letter-spacing: 0px;
      color: #002B50;
      opacity: 1;
      padding: 30px 55px;

      @media screen and (min-width: 768px) {
        text-align: left;
        padding: 50px 40px;
      }

      @media screen and (min-width: 1920px) {
        display: none;
      }
    }

    #desktop-text {
      @media screen and (min-width: 1920px) {
        display: block;
        text-align: center;
        margin: 0 200px 0 200px;
        font-size: 28px;
        line-height: 37px;
        padding: 0 30px;
      }
    }
  }

  #about-us {
    background: #002B50 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 628px;
    padding-top: 30px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      height: 283px;
    }

    @media screen and (min-width: 1920px) {
      height: 719px;
      width: 979px;
      flex-direction: column;
      border-radius: 0 500px 0 0;
    }

    #about,
    #us {
      text-align: left;
      font-style: italic;
      font-family: 'Blue ocean';
      color: #FCDD3F;
      opacity: 1;
    }

    #tablet-about-us {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 768px) {
        margin: 32px 52px 61px 103px;
      }

      @media screen and (min-width: 1920px) {
        margin: 0;
      }

      #about {
        font-size: 42px;
        line-height: 73px;

        @media screen and (min-width: 768px) {
          font-size: 35px;
          line-height: 62px;
        }

        @media screen and (min-width: 1920px) {
          font-size: 61px;
          line-height: 107px;
          margin: 35px 491px 0 163px;
        }
      }

      #us {
        margin-top: -5rem;
        font-size: 125px;
        line-height: 219px;

        @media screen and (min-width: 768px) {
          font-size: 109px;
          line-height: 190px;
          margin-top: -4rem;
        }

        @media screen and (min-width: 1920px) {
          font-size: 177px;
          line-height: 309px;
          margin: -7rem 491px 0 163px;
        }
      }
    }

    p {
      text-align: center;
      font: normal normal normal 20px/27px Segoe UI;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
      margin: -1rem 59px 17px 59px;

      @media screen and (min-width: 768px) {
        text-align: left;
        padding: 30px 40px;
        margin: 0 0 20px 0;
      }

      @media screen and (min-width: 1920px) {
        text-align: left;
        font-size: 28px;
        line-height: 37px;
        margin: -5.5rem 200px 28px 124px;
      }
    }

    #svg-div {
      text-align: center;
      margin: 17px auto 0 auto;

      @media screen and (min-width: 768px) {
        display: none;
      }

      svg {
        margin: 0 168px 57px 168px;
      }
    }
  }
}
