<<<<<<< HEAD
*{margin:0px;padding:0px;-webkit-box-sizing:border-box;box-sizing:border-box}@font-face{font-family:SegoeUI;src:local("Segoe UI Semibold"),url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");font-weight:700}#navBar{position:absolute;left:0;right:0;width:100vw}#navBar img{visibility:hidden;width:0px;height:0px}#navBar nav{padding:0px;margin:0px}#navBar nav #burger{position:absolute;right:41px;top:53px;display:inline-block}#navBar nav #burger span{display:block;width:42px;height:5px;margin-bottom:5px;background:#FCDD3F;border-radius:5px;z-index:1;-webkit-transform-origin:4px 0px;transform-origin:4px 0px;-webkit-transition:background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),opacity 0.55s ease,-webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);transition:background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),opacity 0.55s ease,-webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);transition:transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),opacity 0.55s ease;transition:transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),opacity 0.55s ease,-webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1)}#navBar nav #navItems .navItem{font:normal normal 600 30px/40px Segoe UI;letter-spacing:0px;color:#FCDD3F;opacity:1;cursor:pointer}#navBar nav #navItems .nav-item:hover{color:#87AABC}@media screen and (max-width: 1020px){#navBar #navItems{visibility:hidden;margin:0px;padding:0px;text-align:center;list-style:none;padding-top:100px}#navBar #navItems .nav-item{text-align:center}#navBar #navItems.active{visibility:visible}}@media screen and (min-width: 768px){#navBar .logoNav{position:absolute;visibility:visible;top:34px;left:40.95px;width:51px;height:54px;-webkit-filter:invert(64%) sepia(26%) saturate(344%) hue-rotate(156deg) brightness(100%) contrast(84%);filter:invert(64%) sepia(26%) saturate(344%) hue-rotate(156deg) brightness(100%) contrast(84%)}#navBar #burger{right:50px;top:34px}}@media screen and (min-width: 1020px){#navBar #burger{visibility:hidden}#navBar .logoNav{width:129px;height:138px}#navBar #navItems{visibility:visible;padding-top:0px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;gap:66px;padding-right:114px;border-bottom:5px yellow solid;margin-left:1112px}#navBar #navItems .navItem{list-style:none;padding-top:60px;padding-bottom:38px}}.deletethis{width:100vw;height:100vh;background-color:blue}footer{height:353px;background:#87AABC 0% 0% no-repeat padding-box;opacity:1;padding:47px 53px 81px 53px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-sizing:border-box;box-sizing:border-box}.footerNav{list-style:none;margin-bottom:35px}.footerNav li{text-align:center;font:normal normal 600 25px/33px Segoe UI Semibold;letter-spacing:0px;color:#002B50;opacity:1;margin-bottom:17px}.footerNav li:last-child{margin-bottom:0}.socialMediaIcon{width:57px;margin-right:23px}.socialMediaIcon:last-child{margin-right:0}.footerLogo{display:none}@media screen and (min-width: 768px){footer{height:223px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}}@media screen and (min-width: 1080px){footer{height:294px}}.wrapperSections{width:428px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center}@media screen and (min-width: 768px){.wrapperSections{width:768px}}@media screen and (min-width: 1920px){.wrapperSections{width:1932px;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;background:#F19E60}}.wrapperSections section{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center}@media screen and (min-width: 768px){.wrapperSections section{width:100%;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}}@media screen and (min-width: 768px) and (min-width: 1920px){.wrapperSections section{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}}@media screen and (min-width: 768px){.wrapperSections section .tablet{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center}}.wrapperSections #newsletter{background:#F19E60 0% 0% no-repeat padding-box;opacity:1;height:605px}@media screen and (min-width: 768px){.wrapperSections #newsletter{height:286px;display:-webkit-box;display:-ms-flexbox;display:flex}}@media screen and (min-width: 1920px){.wrapperSections #newsletter{height:719px}}.wrapperSections #newsletter .tablet{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.wrapperSections #newsletter .tablet img{width:297px;height:136px;margin:40px 0 0 0}@media screen and (min-width: 768px){.wrapperSections #newsletter .tablet img{width:192px;height:88px;margin:41px 0 0 60px}}@media screen and (min-width: 1920px){.wrapperSections #newsletter .tablet img{width:402px;height:187px;margin:69px 0 0 0}}.wrapperSections #newsletter .tablet p{display:none}.wrapperSections #newsletter form{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.wrapperSections #newsletter form input{background:#FFFFFF 0% 0% no-repeat padding-box;border:1px solid #707070;border-radius:4px;opacity:1;width:268px;height:44px;margin:29px 44px 15px 44px}@media screen and (min-width: 768px){.wrapperSections #newsletter form input{width:193px;height:30px;margin:12px 51px 12px 111px}}@media screen and (min-width: 1920px){.wrapperSections #newsletter form input{width:380px;height:63px;margin:20px 275px 21px 275px}}.wrapperSections #newsletter form button{background:#002B50 0% 0% no-repeat padding-box;-webkit-box-shadow:0px 3px 10px #00000029;box-shadow:0px 3px 10px #00000029;border:none;border-radius:43px;width:268px;height:53px;font:normal normal 600 19px/26px Segoe UI;letter-spacing:0px;color:#FFFFFF;opacity:1;-webkit-transition:0.3s ease-out;transition:0.3s ease-out}@media screen and (min-width: 768px){.wrapperSections #newsletter form button{width:192px;height:38px;font-size:16px;line-height:21px;margin:12px 51px 74px 111px}}@media screen and (min-width: 1920px){.wrapperSections #newsletter form button{width:380px;height:75px;font-size:28px;line-height:37px;margin:10px 275px 21px 275px}}.wrapperSections #newsletter form button:hover{background:#87AABC}.wrapperSections #newsletter p{text-align:center;font:normal normal normal 20px/27px Segoe UI;letter-spacing:0px;color:#002B50;opacity:1;padding:30px 55px}@media screen and (min-width: 768px){.wrapperSections #newsletter p{text-align:left;padding:50px 40px}}@media screen and (min-width: 1920px){.wrapperSections #newsletter p{display:none}}@media screen and (min-width: 1920px){.wrapperSections #newsletter #desktop-text{display:block;text-align:center;margin:-20px 200px 0 200px;font-size:28px;line-height:37px;padding:0 30px}}.wrapperSections #about-us{background:#002B50 0% 0% no-repeat padding-box;opacity:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;text-align:center;height:628px}@media screen and (min-width: 768px){.wrapperSections #about-us{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;height:283px;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}}@media screen and (min-width: 1920px){.wrapperSections #about-us{height:719px;width:979px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;border-radius:0 500px 0 0}}.wrapperSections #about-us #tablet-about-us{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center}@media screen and (min-width: 768px){.wrapperSections #about-us #tablet-about-us{margin:32px 52px 61px 103px}}@media screen and (min-width: 1920px){.wrapperSections #about-us #tablet-about-us{margin:0}}.wrapperSections #about-us #tablet-about-us img{width:230px;height:219px;margin:0 110px 0 88px}@media screen and (min-width: 768px){.wrapperSections #about-us #tablet-about-us img{width:200px;height:190px;margin:0 0 1rem 0}}@media screen and (min-width: 1920px){.wrapperSections #about-us #tablet-about-us img{width:325px;height:309px;margin:60px 491px 0 163px}}.wrapperSections #about-us p{text-align:center;font:normal normal normal 20px/27px Segoe UI;letter-spacing:0px;color:#FFFFFF;opacity:1;padding-bottom:1rem;margin:-1rem 59px 17px 59px}@media screen and (min-width: 768px){.wrapperSections #about-us p{text-align:left;padding:30px 40px;margin:0 0 20px 0}}@media screen and (min-width: 1920px){.wrapperSections #about-us p{text-align:left;font-size:28px;line-height:37px;margin:-3.5rem 200px 28px 163px;padding:20px 0 0 20px}}.wrapperSections #about-us .svg-div{text-align:center;margin:17px auto 0 auto}@media screen and (min-width: 768px){.wrapperSections #about-us .svg-div{display:none}}.wrapperSections #about-us .svg-div svg{margin:0 168px 57px 168px}
=======
* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semibold"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
  font-weight: 700;
}

#navBar {
  position: absolute;
  left: 0;
  right: 0;
  min-width: 428px;
}

#navBar img {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

#navBar nav {
  padding: 0px;
  margin: 0px;
}

#navBar nav #burger {
  position: absolute;
  right: 41px;
  top: 53px;
  display: inline-block;
}

#navBar nav #burger span {
  display: block;
  width: 42px;
  height: 5px;
  margin-bottom: 5px;
  background: #FCDD3F;
  border-radius: 5px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#navBar nav #navItems .navItem {
  font: normal normal 600 30px/40px Segoe UI;
  letter-spacing: 0px;
  color: #FCDD3F;
  opacity: 1;
  cursor: pointer;
}

#navBar nav #navItems .nav-item:hover {
  color: #87AABC;
}

@media screen and (max-width: 1020px) {
  #navBar #navItems {
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    text-align: center;
    list-style: none;
    padding-top: 100px;
  }
  #navBar #navItems .nav-item {
    text-align: center;
  }
  #navBar #navItems.active {
    visibility: visible;
  }
}

@media screen and (min-width: 768px) {
  #navBar #navBar {
    width: 768px;
  }
  #navBar .logoNav {
    position: absolute;
    visibility: visible;
    top: 31.5px;
    left: 41px;
    width: 51px;
    height: 54px;
    -webkit-filter: invert(64%) sepia(26%) saturate(344%) hue-rotate(156deg) brightness(100%) contrast(84%);
            filter: invert(64%) sepia(26%) saturate(344%) hue-rotate(156deg) brightness(100%) contrast(84%);
  }
  #navBar #burger {
    top: 31.5px;
    left: 683px;
    width: 35px;
    height: 27px;
  }
}

@media screen and (min-width: 1020px) {
  #navBar #burger {
    visibility: hidden;
  }
  #navBar .logoNav {
    width: 129px;
    height: 138px;
  }
  #navBar .line span {
    position: absolute;
    top: 130px;
    right: 0px;
    width: 808px;
    height: 5px;
    background-color: #FCDD3F;
    border-radius: 180px;
    border: 5px solid #FCDD3F;
  }
  #navBar #navItems {
    visibility: visible;
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 66px;
    padding-right: 114px;
  }
  #navBar #navItems .navItem {
    list-style: none;
    padding-top: 60px;
    padding-bottom: 38px;
  }
}

.deletethis {
  width: 100vw;
  height: 100vh;
  background-color: blue;
}

footer {
  height: 353px;
  width: 428px;
  background: #87AABC 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 47px 53px 81px 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footerNav {
  list-style: none;
  margin-bottom: 35px;
}

.footerNav li {
  text-align: center;
  font: normal normal 600 25px/33px Segoe UI Semibold;
  letter-spacing: 0px;
  color: #002B50;
  opacity: 1;
  margin-bottom: 17px;
}

.footerNav li:last-child {
  margin-bottom: 0;
}

.socialMediaIcon {
  width: 57px;
  margin-right: 23px;
}

.socialMediaIcon:last-child {
  margin-right: 0;
}

.footerLogoWrapper {
  display: none;
}

.footerLogoSoMe {
  display: none;
}

@media screen and (min-width: 768px) {
  footer {
    width: 768px;
    height: 223px;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    padding-top: 36px;
  }
  .footerLogoSoMe {
    display: inline;
    width: 63px;
    margin-bottom: 17px;
  }
  .socialMediaIcon {
    width: 36px;
    margin-right: 14px;
  }
  .socialMediaIcon :last-child {
    margin-right: 0;
  }
  .logoSoMeWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 28px;
  }
  .footerNav {
    margin-top: 36px;
    margin-bottom: 0;
  }
  .footerNav li {
    text-align: left;
    font-size: 20px;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1920px) {
  footer {
    width: 1920px;
    height: 294px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 124px;
    padding-bottom: 88px;
    padding-top: 88px;
  }
  .socialMediaIcon {
    width: 70px;
    margin-right: 27px;
  }
  .footerNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footerNav li {
    text-align: center;
    font-size: 28px;
    margin-right: 67px;
  }
  .footerNav :last-child {
    margin-right: 0;
  }
  .footerLogoSoMe {
    display: none;
  }
  .footerLogoWrapper {
    display: inline;
  }
  .footerLogo {
    width: 117px;
    margin-left: 6px;
  }
}
/*# sourceMappingURL=style.css.map */
>>>>>>> 854d079f8fcaa03b26df97613b2f3b7c4ff0cefb
